html, body{
    font-size: 14px;
    min-height: 380px;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #f6f6f6;

	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
}
* {
    outline: 0 !important;
  }

a {
    text-decoration: none;
}

p{
    margin: 0;
    padding: 0;
}

.blue__strip{
    width: 100%;
    height: 68px;
    padding: 0px;
    background-color: rgb(35, 170, 211);
    position: absolute;
    z-index: 1;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    text-align: left;

}

.header{
	background-color: rgb(35, 170, 211);
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	height: 68px;
}

.header__inner{
	display: flex;
	justify-content: space-between;
	padding: 5px 0;
	align-items: center;
}

.header__text{
	display: flex;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase; /* Большие буквы */
}

.header__number
{
	color: white;
	text-decoration: none; /* Удаление подчёркивания в ссылки */
	opacity: .75;
	margin-left: 50px;
	transition: opacity 0.1s linear; /* Плавный переход */
}

.main{
    display: flex;
	flex-direction: column;
	justify-content: center;
    padding-top: 100px;
}

.subcategory__item{
    display: inline-block;
    margin: 0 8px 15px auto;
    height: 260px;
    width: 320px;
    background-color: white;
    padding: 30px;
    text-align: center;
    border-radius: 15px;

    box-shadow: 0 0 2px rgba(109, 138, 201, 0.959);
}

.item__picture{
    margin-top: 30px;
    height: 120px;
}

.item__picture img{
    max-width: 160px;
    text-align: center;
}

.item__text{
    display: inline-block;
    top: 60px;
    margin-top: 60px;
    font-weight:bold;
    color: black;
    text-align: center;
    font-size: 18px;
    text-decoration: none; /* Удаление подчёркивания в ссылки */
}

.subcategory__item:hover{
    box-shadow: 0 0 20px rgba(109, 138, 201, 0.959);
}

footer{
    background-color: rgb(80, 129, 192);
}

.footer__text{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0px;
}

.main__subcat{
    display: flex;
    padding-top: 20px;
}

.name__subcat
{
    display: flex;
    font-size: 20px;
    padding-top: 80px;
    margin-left: 35px;
}

.filters{
    min-width: 230px;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 2px rgba(109, 138, 201, 0.959);
}

.filter__name{
    position: relative;
    top: 5px;
    left: 15px;
    font-weight: bold; /*Жирный текст */
    font-size: 16px;
    margin-bottom: 10px;
}

.filter__list{
    display: block;
    position: relative;
    font-weight: normal;
    left: 25px;
    font-size: 14px;
    padding-bottom: 5px;
    flex-wrap: nowrap;
}

.filter__category{
    border-bottom: 1px solid rgba(109, 138, 201, 0.562);
}

.filters__button{
    text-align: center;
}

.filters__button__res{
    text-align: center;
}

.filters__button button{
    background-color: rgba(109, 138, 201, 0.959);
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 10px 45px;
    border: 0px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase; /* Большие буквы */
}

.filters__button button:hover{
    box-shadow: 0 0 20px rgb(113, 141, 201);
    background-color: rgba(69, 107, 189, 0.959)
}

.filters__button__res button{
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px 70px;
    border: 1px solid black;
    border-color: rgba(109, 138, 201, 0.959);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-transform: uppercase; /* Большие буквы */
}

.filters__button__res button:hover{
    box-shadow: 0 0 20px rgb(113, 141, 201);
    background-color: rgba(69, 107, 189, 0.959)
}


.catalog__products{
    width: 100%;
    padding: 0px 15px;
}

.container__product a{
    width: 100%;
    display: grid;
    background-color: white;
    border: 1px solid rgba(49, 79, 145, 0.759);
    border-radius: 10px;
    padding: 15px 15px;
    text-align: left;
    margin: 10px 0;
    opacity: 1;
}

.container__product:first-child a{
    margin: 0 0;
}

.container__product:hover a{
    box-shadow: 0 0 5px rgb(22, 75, 189);
}

.product__image{
    grid-column: 1;
    grid-row: 1/ span 2;
    margin-right: 15px;
}

.product__image img{
    width: 160px;
    height: 176px;
}

.product__name{
    grid-column: 2;
    grid-row: 1;
    max-height: 100px;
    margin-bottom: 30px;
}
.product__name p{
    text-decoration: none; /* Удаление подчёркивания в ссылки */
    font-size: 20px;
    font-weight: bold; /* Жирный текст */
    color: #000;
    transition: color 0.1s linear;
}

.container__product:hover .product__name p{
    color: rgb(22, 75, 189);
}

.product__price{
    grid-column: 3;
    grid-row: 1;
    font-size: 20px;
    color: #000;
    transition: color 0.1s linear;
}

.container__product:hover .product__price{
    color: rgb(22, 75, 189);
}

.product__description{
    grid-column: 2;
    grid-row: 2;
    font-size: 17px;
    color: #000;
}


/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .blue__strip{
            height: 38px;
    }

    .header__IMG img{
        height: 38px;
    }

    .container{
        width: 100%;
        max-width: 992px;
        padding: 0;
    }

    .subcategory__item{
        height: 190px;
        width: 250px;

    }

    .item__picture{
        margin-top: 30px;
        height: 90px;
    }

    .item__picture img{
        max-width: 80px;
        text-align: center;
    }


    .item__text{
        display: inline-block;
        top: 10px;
        margin-top: 40px;
        font-size: 14px;
    }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}